/* Your CSS definitions here */

* {
	font-family: "arial";
	font-size: 12pt;
}

table {
	background-color: rgb(50, 100, 85);
	color: white;
}

.scoreboard {
	text-align: center;
}

#tableTitle {
	font-size: 28pt;
}

.inningScore {
	border: solid black;
	text-align: center;
	height: 30px;
	width: 20px;
}

.totalScore {
	border: solid white;
	text-align: center;
	height: 30px;
	width: 20px;
}
